<header class="bg-dark navbar text-center mb-3">
  <div class="col-12">
    <%= link_to 'Expense Claims', expenses_path, class: 'btn btn-outline-warning' %>
    <%= link_to 'Expense Status', status_expenses_path, class: 'btn btn-outline-success' %>
  </div>
</header>